doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    title= title
    
    link(rel='stylesheet', href='css/master.css')
  body
    nav#mainnav
        a#logo(href='/')
            img(src='img/logo.png')
        a#logo-full(href='#')
            img(src='img/logo-full.png')
        a.menu-item(href='#')
            img(src='img/nav_icon-1.png')
        a.menu-item(href='#')
            img(src='img/nav_icon-2.png')
        a.menu-item(href='#')
            img(src='img/nav_icon-3.png')
        a.menu-item(href='#')
            img(src='img/nav_icon-4.png')
        a.menu-item(href='#')
            img(src='img/nav_icon-5.png')
        a.menu-item(href='#')
            img(src='img/nav_icon-6.png')
    
    block content

    //- add other scripts through require.js, not here
    script(src="js/mootools-core-1.5.0-full-nocompat-yc.js")
    script(src="js/edk.grid.js")
    script(src="js/edk.form.js")
    script(src="js/edk.site.js")